*{
    margin: 0;
    padding: 0;
}
.bo{
width: 400px;
height: 300px;
position: relative;
overflow: hidden;
}
.bo .anh{
width: 100%;
height: 100%;
}

.bo .xam{
width: 100%;
height: 100%;
top: 0;
left: 0;
position: absolute;
background-color: gray;
transition: 0.4s; 
border:  0px black solid;
box-sizing: border-box;
opacity: 0;
}

.bo:hover .xam{

    opacity: 1;
    border:  10px black solid;
}

.bo .chu{
font-family: Arial, Helvetica, sans-serif;
position: absolute;
transition: 0.4s;
top: 30px;
left: 30px;
opacity: 0;;
}
.bo:hover .chu{
opacity: 1;
}
.bo .chu h2{

}
.bo .chu p{

}